.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-link {
  text-decoration: none !important
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.indexCard {
  transition: all .2s ease-in-out;
}
.indexCard:hover {
  transform: scale(1.05);
}

.navbar-gradient {
  background-image: radial-gradient( farthest-corner at 0px 0px, #2c92cc 0%, #64e4a4 100%);
}

h1, h2, h3, h4 {
  color: #195e86
}

.navbar {
  border-bottom: 3px solid #195e86;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}